<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="DemoXMLFileCreation" verbose="1" >
  <test name="XML_Demo" >
    <classes>
       <class name="miscellaneous.TestngXML_Demo" />
       <class name="miscellaneous.TestngXML_Demo2"/>
    </classes>
  </test>
  <test name="XML_Demo222" >
    <classes>
       
       <class name="miscellaneous.TestngXML_Demo2"/>
    </classes>
  </test>
 
  
</suite>
